/* Logo background color */
.wy-side-nav-search, .wy-nav-top, .sidebar {
    background-color: #000000 !important;
}

/* Color of menu headings */
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #6c52bf !important;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

a {
    color: #6c52bf !important;
}

a:hover {
    color: #7361ad !important;
}

a:visited {
    color: #7361ad !important;
}
