nav.pdoc {
    background-color: #000000 !important;
    color: #6c52bf !important;
}

pdoc.h1 {
    color: #6c52bf !important;
}

a {
    color: #6c52bf !important;
}

a:hover {
    color: #533aa6 !important;
}

a:visited {
    color: #533aa6 !important;
}
